body {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.733);
  height: 15vh;
  width: 100vw;
  top: 0;
  z-index: 1;
}

/* bootstrap */
.carrocel {
  height: 60vh;
}

section {
  height: 100vh;
  width: 100vw;
  background-color: orangered;
}

/* 
.filmesCards {
  width: 100vw;
  height: 100vh;
  background-color: rgb(108, 108, 116);
  padding: 15px;
}

.filmes {
  display: flex;
  background-color: blue;
  margin-left: -2%;
  width: 100%;
}

.filmes img {
  width: 100%;
}

.filmesCards h1 {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  color: brown;
}



.caixa {
  background-color: black;
  margin: 15px;
  height: 130px;
  width: 230px;


}
 */

/* 
.section {
  background-color: aqua;
} */



@media screen and (max-width: 905px) {
  .carrocel {
    height: 40%;
  }
}

@media screen and (max-width: 720px) {
  header {
    background-color: black;
    height: 8vh;
  }

  .filmesCards {
    margin-top: 47px;
  }

  .carrocel {
    height: 25vh;
    top: 47px;
  }

  .carousel-indicators {
    top: 180px;
  }
}

@media screen and (max-width: 410px) {
  .carrocel {
    height: 15vh;
  }

  .carousel-indicators {
    top: 110px;
  }
}


.pr {
  background-color: aliceblue;
  width: 800px;
  margin: 10px auto;
  border: solid 2px red;

  column-count: 2;
  column-gap: 30px;
  column-rule: dotted tomato;
  padding: 15px;
  padding: 30;
}

.pr h1 {
  margin: 0;
}










/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.filmessCards {
  height: 164px;
  width: 90%;
  position: relative;
  margin: 0 auto;
  background-color: rgb(7, 7, 7);

}

.filmess {
  margin: 20px;
  display: flex;
  overflow: hidden;
  margin: 15px;
  background-color: rgb(3, 36, 36);

}

.filmess img {
  max-width: 200px;
  min-width: 200px;
  height: 140px;
  margin: 10px;

}


.filmessCards .btn {
  color: red;
  background-color: black;
  height: 100%;
  width: 45px;
  text-align: center;
  font-size: 35px;
  align-items: center;
  line-height: 150px;
  top: 0;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.filmessCards .btn:hover {
  background-color: rgba(17, 17, 17, 0.801);
  /* border-radius: 10px; */
  text-shadow: 0px 0px 10px rgb(235, 226, 226);
}






.filmessCards .pfrente {
  position: absolute;
  right: -50px;
}


.filmessCards .ptras {
  position: absolute;
  left: -50px;
}

.filmessCards .pfrente:hover+.caixa img {
  transition: 2s;
}